Health
{
	position: absolute;
	background-color: rgba( black, 0.5 );
	left: 10px;
	bottom: 10px;
	height: 70px;
	width: 250px;
	padding: 5px;
	align-items: center;

	image
	{
		position: absolute;
		left: 5px;
		top: 5px;
		width: 40px;
        height: 40px;
	}

	.PlayerName
	{
		position: absolute;
		top: 13px;
		left: 50px;
		width: 10000px;
		font-size: 20px;
		font-weight: bold;
		text-shadow: 4px 4px 1px black;
		color: white;
	}

	.HealthText
	{
		position: absolute;
		margin-left: 8px;
		top: 50px;
		width: 40px;
		font-weight: bold;
		text-shadow: 0 0 1px black;
		color: white;
	}

	.HealthBarBG
	{
		background-color: rgba( black, 0.7 );
		margin-top: 45px;
		width: 250px;
		height: 18px;
	}

	.HealthBar
	{
		background-color: rgba( red, 0.7 );
	}
}