@import "HitIndicator.scss";
@import "DamageIndicator.scss";
@import "Crosshair.scss";
@import "Health.scss";
@import "Ammo.scss";
@import "Inventory.scss";
@import "KillFeed.scss";
@import "Speedometer.scss";
@import "Hint.scss";
@import "Gamestate.scss";

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}

	&.devcamera
	{
		display: none;
	}
}